<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterClient.Twitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TwitterClient.Twitter.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value>someKey</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>someSecret</value>
            </setting>
            <setting name="AuthenticationToken" serializeAs="String">
                <value>someToken</value>
            </setting>
            <setting name="AuthenticationTokenSecret" serializeAs="String">
                <value>someTokenSecret</value>
            </setting>
        </TwitterClient.Twitter.Properties.Settings>
    </applicationSettings>
</configuration>